@import "../../common-styles/variables.scss";

.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 16px auto 0;

  a {
    font-size: 16px;
    height: auto;
    padding: 0;
    transition: color 200ms;
    text-decoration: none;
  }

  a:first-of-type {
    color: $gray-600;

    &:hover {
      color: darken($gray-600, 5%);
    }
  }

  a:last-of-type {
    color: $blue-500;

    &:hover {
      color: darken($blue-500, 5%);
    }
  }
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  margin: 0 auto;

  h1 {
    font-size: 40px;
    font-weight: 700;
    width: 100%;
    text-align: center;
  }

  form {
    margin: auto;
    width: 100%;
  }

  button {
    margin-top: 42px;
  }

  .select div[class*='result'] button {
    outline: none;
    height: 67px;
    line-height: 24px;
    border-radius: 6px;
    border: unset;
    background-color: #ffffff;
    width: 100%;
    margin-top: 4px;
    padding: 22px 16px 21px;
    font-size: 24px;
    margin-bottom: 28px;
  }

  .select img {
    top: 34px;
  }

  .select div[class*='options'] {
    margin-top: -24px;
  }

  .select div[class*='options'] button {
    margin-top: 0;
  }

  .selectLabel {
    font-size: 24px;
    font-weight: 500;
    margin-top: 28px;
    display: block;
  }

  fieldset {
    padding: 0;
    border: unset;
  }
}

@media screen and (max-width: 600px) {

  .actions {
    width: 100%;
    padding: 0 10%;
  }

  .authContainer {
    width: 100%;
    padding: 0 10%;
  }
}